<!DOCTYPE html>
<html>
<head>
  <title>HomeSplash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p> Hey I'm Here!</p>
<%= render 'shared/footer' %>
</body>
</html>
